/* Tu CSS va aqui */
*
{
    font-family: 'Aref Ruqaa', serif;
    
}
/*CLASES GENERALES*/
.banner .hero .separador .ejemplo_user .pasos .uso .prueba_footer
{
    overflow: hidden;
}
hr{width: 50px;}
footer hr{ border-color:   #DC143C;}
button {
    margin: 0 auto;
    border-radius: 30px;
    font-size: 13px;
    font-weight: bold;
    padding: 12px 20px 10px 20px;
    border: none;
}
/*ESTA ES LA SECCION DEL HEADER*/
header{
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background: url('../img/header.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}

header nav { text-align: center; }
header nav ul { list-style-type: none; }
header nav ul li { display: inline; }
header nav ul li a { font-size: 10px; color: white;}
header nav a:hover { text-decoration: none; }
header nav .icon-bar{background: black;}
#btn_menu
{
    background-color:rgba(220,20,60,0.3);
    border:1px solid black;
}
.degradado
{
    background-color: rgba( 178,34,34,0.4);
}

.logo
{
    line-height: 17px;
     font-weight: bolder;
}
header .menu , .sub_menu{color: white;}
header .sobre_mi
{
    background-color:rgba(220,20,60,0.8);
    margin:0 -15px;
    color: white;
    padding: 20px 0px;
}

header .frase 
{
    margin: 0 auto;
    padding:100px;
    width: 70%;
    color: white;
}
header .frase h2 
{
    font-size: 40px;
}
/*ESTA ES LA SECCION DEL BANNER*/
.banner button
{
    background: rgba(139,0,0,0.4);
    border:2px solid black;
}
.banner button a
{
    color: white;
    text-decoration:none;
}
/*ESTA ES LA SECCION SOBRE MI*/
.sobre_mi hr
{
    color:black;
}

/*ESTA ES SECCION DE SERVICIOS*/
.servicios{
    color: black;
    padding: 50px 0;
}
.icon-container i{
    font-size: 70px;
    display: block;
    padding: 30px 0 20px 0;
    color: rgb(240,95,64);
}
.servicios h1
{
    font-size: 28px;
    margin-bottom: 40px;
}
.servicios h3
{
    
    font-size: 20px;
    width: 190px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.servicios p {
    color: #a7a7a7;
     margin-left: 45px;
    margin-right: 45px;
}
/*ESTA E SLA SECCION DE IMAGENES*/

.fotos .col-md-4 {
    padding: 0;
}
.img {
    position: relative;
}
.image {
    min-width: 100%;
    z-index: -1;
}

.categoria {
    background: rgba(240,95,64,0.8);
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
.categoria p {
    color: #fff;
    margin: 0;
    text-align: center;
    position: relative;
    top: 50%;
    margin-top: -21px;
    display: none;
}
.categoria-dos {
    height: 80%;
}
/*------------------------------------------*/

.git_hub
{
    padding: 50px 0px;
    color: white;
    background-color:#DC143C;
}
.git_hub button
{
   
   background: rgba(139,0,0,0.4);
   
   border:2px solid black;
}
.git_hub button a{
color: white;
text-decoration:none;
}

/*ESTA  ES LA SECCION DEL FOOTER*/
footer
{
    padding: 50px 0;
}
footer .icon_footer
{
    font-size: 40px;
    color: rgb(240,95,64);
}
footer .correo
{
    color: rgb(240,95,64);
}