@media screen and (max-width:1000px) {
	
	.menu
	{
		background-color: white;
		
	}
	.logo
	{
		color: rgb(240,95,64);
		font-size: 20px;
		text-align: center;
	}
	header nav ul li a {  color: rgb(240,95,64);
}
    header .frase h2
    {
        font-size: 30px;
    }
    header .frase 
    {
        width: 100%;
        padding: 50px;
    }
}